@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* MEDIA QUERIES */
@media (min-width: 600px) {
  
  }

body {
  margin: 0;
  padding: 0;
}

.cursive-font {
  font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212529;
  height: 56px;
  font-size: 20px;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  width: 313px;
}

.logo {
  color: #fed136;
  margin-left: 24px;
}

.logo:hover {
  color: #f3c633;
}

.menu-button {
  color: #FFF;
  font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 12px;
  margin-right: 24px;
  background-color: #FDCF48;
  border-radius: 3px;
  padding: 9px;
}

.menu-button * {
  margin: 3px;
}